
<% if @topic.errors %>
  <ul>
  <% @topic.errors.full_messages.each do |e| %>
    <li><%= e %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @topic do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, :class => "form-control" %>
  </div>


  <div class="form-group">
    <%= f.file_field :photo %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, :class => "form-control" %>
  </div>

  <%= f.submit "Submit", :class => "btn btn-primary" %>
<% end %>