<table class="table">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Tags</th>
    <th>Views</th>
    <th>Time</th>
    <th>Actions</th>
  </tr>
<% topics.each do |t| %>
  <tr>
    <td><%= link_to t.title, topic_path(t) %></td>
    <td><%= link_to t.user.display_name, user_path(t.user) %></td>
    <td>
      <% t.tags.each do |i| %>
        <%= link_to i.name, topics_path( :tag => i.name ) %>
      <% end %>
    </td>
    <td><%= t.views_count %></td>
    <td><%= t.created_at.to_s(:short) %></td>
    <td>
      <% if current_user && t.user == current_user %>
        <%= link_to "Edit", edit_topic_path(t) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate topics %>