<h1><%= @topic.title %></h1>

<% if @topic.find_my_subscription(current_user) %>
  <%= link_to "UnSubscribe", unsubscribe_topic_path(@topic), :method => :post, :class => "btn btn-danger" %>
<% else %>
  <%= link_to "Subscribe", subscribe_topic_path(@topic), :method => :post, :class => "btn btn-default" %>
<% end %>


<% like = @topic.find_my_like(current_user) %>
<% if like %>
  <%= link_to "Unlike", topic_like_path(@topic, like), :method => :delete, :class => "btn btn-danger" %>
<% else %>
  <%= link_to "Like", topic_likes_path(@topic), :method => :post, :class => "btn btn-default" %>
<% end %>

<p>
Liked by
<% @topic.liked_users.each do |u| %>
  <%= link_to u.display_name, user_path(u) %>,
<% end %>
</p>

<% if @topic.photo.exists? %>
  <%= image_tag @topic.photo.url(:medium) %>
<% end %>

<%= simple_format @topic.content %>

<h2>Comments list</h2>

<ul>
<% @topic.comments.each do |c| %>
  <li id="comment-<%= c.id %>">
    <%= c.content %>
    by <%= c.user.display_name %>
    at <%= c.created_at.to_s(:short) %>

    <% if current_user && c.user == current_user %>
      <%= link_to "(Delete)", topic_comment_path(@topic, c), :method => :delete, :remote => true %>
    <% end %>
  </li>
<% end %>
</ul>

<%= form_for [@topic, @comment] do |f| %>

<% if @comment.errors %>
  <ul>
  <% @comment.errors.full_messages.each do |e| %>
    <li><%= e %></li>
  <% end %>
  </ul>
<% end %>

  <div class="form-group">
    <%= f.text_area :content, :class => "form-control" %>
  </div>

  <%= f.submit "新增留言", :class => "btn btn-primary" %>
<% end %>
