<h1><%= @topic.title %></h1>

<%= simple_format @topic.content %>

<h2>Comments list</h2>

<ul>
<% @topic.comments.each do |c| %>
  <li>
    <%= c.content %>
    by <%= c.user.display_name %>
    at <%= c.created_at.to_s(:short) %>
  </li>
<% end %>
</ul>