<h1><%= @topic.title %></h1>

<%= simple_format @topic.content %>

<h2>Comments list</h2>

<ul>
<% @topic.comments.each do |c| %>
  <li>
    <%= c.content %>
    by <%= c.user.display_name %>
    at <%= c.created_at.to_s(:short) %>
  </li>
<% end %>
</ul>

<%= form_for [@topic, @comment] do |f| %>

<% if @comment.errors %>
  <ul>
  <% @comment.errors.full_messages.each do |e| %>
    <li><%= e %></li>
  <% end %>
  </ul>
<% end %>

  <div class="form-group">
    <%= f.text_area :content, :class => "form-control" %>
  </div>

  <%= f.submit "新增留言", :class => "btn btn-primary" %>
<% end %>
