<h1>買 <%= @product.name %>: $<%= @product.price %></h1>

<%= form_for @order do |f| %>

<%= hidden_field_tag :product_id, @product.id %>
<div class="form-group">
  <%= label_tag :qty, "數量" %>
  <%= select_tag :qty, options_for_select( (1..10).to_a ) %>
</div>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :address %>
  <%= f.text_field :address, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.submit "成立訂單", :class => "btn btn-primary" %>
</div>

<% end %>
