<p>你的購物車項目:</p>

<%= render "cart" %>

<%= link_to "結帳", new_order_path, :class => "btn btn-primary" %>
<hr>

<% @products.each do |p| %>
<div class="product-item">
  <%= link_to product_path(p) do %>
    <%= image_tag( p.image_url, :width => 100 ) %>
    <br><%= p.name %>
  <% end %>
    <br>
    $<%= number_with_delimiter( p.price ) %>

    <%= link_to "買!", buy_product_path(p), :method => :post, :class => "btn btn-danger" %>
</div>
<% end %>

<div style="clear: both"></div>

<%= paginate @products %>
