<!DOCTYPE html>
<html>
<head>
  <title>RailsExercise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <ul class="nav nav-pills">
      <li><%= link_to "Forum", root_path %></li>
      <li>
        <%= link_to "About", about_path %>
      </li>

    <% if current_user %>
        <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
        <li><%= link_to('修改密碼', edit_registration_path(:user)) %></li>
    <% else %>
        <li><%= link_to('註冊', new_registration_path(:user)) %></li>
        <li><%= link_to('登入', new_session_path(:user)) %></li>
    <% end %>
    </ul>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>

</body>
</html>
